<launch>

<!-- 45  deg  0.785398 rad -->
<!-- 90  deg  1.570796 rad -->
<!-- 150 deg  2.61799 rad -->
<!-- 140 deg  2.44346 rad -->

<!-- ================= Kinect ======================= -->
<!--    <node pkg="tf" type="static_transform_publisher" name="jetson6_ir_optical_frame"
args="0.65 8.9 4.2 -2.11 0.0 -2.44 world jetson6_ir_optical_frame 100"/>
-->

<!-- ================= Compressor ======================= -->
<node pkg="wp3_compressor" type="wp3_compressor_node" name="jetson1_comp_kinect">
    <param name="resolution" value="0.04" />
    <param name="input_topic" value="/jetson1/sd/points_nocolor" />
    <param name="input_type" value="0" />
    <param name="output_topic" value="/jetson1/wp3/kinect_comp" />
    <param name="local_frame" value="jetson1_ir_optical_frame" />
    <param name="global_frame" value="world" />
    <param name="min_z" value="-0.1" />
</node>

</launch>

