<launch>

<!-- 45  deg  0.785398 rad -->
<!-- 90  deg  1.570796 rad -->
<!-- 150 deg  2.61799 rad -->
<!-- 140 deg  2.44346 rad -->

<!-- ================= Kinect ======================= -->
<!--    <node pkg="tf" type="static_transform_publisher" name="jetson6_ir_optical_frame"
args="0.65 8.9 4.2 -2.11 0.0 -2.44 world jetson6_ir_optical_frame 100"/>
-->
<!-- ================= Velodyne VLP-16 ======================= -->
<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="rpm" value="1200" />
</include>

<node pkg="tf" type="static_transform_publisher" name="velodyne_tf"
    args="0 -0.1 0 0 -1.570796 1.570796 jetson6_ir_optical_frame velodyne 100"/>

<!-- ================= Compressor ======================= -->
<node pkg="wp3_compressor" type="wp3_compressor_node" name="jetson6_comp_velodyne">
    <param name="resolution" value="0.04" />
    <param name="input_topic" value="/velodyne_points" />
    <param name="input_type" value="1" />
    <param name="output_topic" value="/jetson6/wp3/velodyne_comp" />
    <param name="local_frame" value="velodyne" />
    <param name="global_frame" value="world" />
    <param name="min_z" value="-0.1" />
</node>
<!-- ================= Compressor ======================= -->
<node pkg="wp3_compressor" type="wp3_compressor_node" name="jetson6_comp_kinect">
    <param name="resolution" value="0.04" />
    <param name="input_topic" value="/jetson6/sd/points_nocolor" />
    <param name="input_type" value="0" />
    <param name="output_topic" value="/jetson6/wp3/kinect_comp" />
    <param name="local_frame" value="jetson6_ir_optical_frame" />
    <param name="global_frame" value="world" />
    <param name="min_z" value="-0.1" />
</node>

</launch>

